{% extends "master.html" %}

{% block title %}
  Listado de Estudiantes
{% endblock %}

{% block content %}

<h2>Listado de Estudiantes</h3>
<h3>Número de estudiantes {{ numero_estudiantes }}</h3>
<table>
<tr>
  <td>Nombre</td>
  <td>Apellido</td>
  <td>Cédula</td>
  <td>Teléfonos</td>
  <td>Opciones</td>
</tr>  
{% for e in estudiantes %}

<tr>
  <td>{{e.nombre}}</td>
  <td>{{e.apellido}}</td>
  <td>{{e.cedula}}</td>
  <td>
      {% if e.numerotelefonico_set.count > 0%}
        <b># {{e.numerotelefonico_set.count}}</b>
        <ul>
        {% for numero in e.numerotelefonico_set.all%}
          <li>
            {{numero}}<br/>
          </li>
        {% endfor %}
      {% else %}
        <span>Sin datos</span>
      {% endif %}
    </ul>
   </td>
   <td>
     <span><a href="{% url 'editarEstudiante' e.id%}">editar</a></span>
     <br/>
     <span><a href="{% url 'crearTelefono' e.id%}">agregar teléfono</a></span>
   </td>
</tr>  
{% endfor %}

</table>
{% endblock %}
