<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
      <header>
        <h1>Aplicación Administración </h1>
        <nav class="top_menu">
          <ul>
            <li>[<a href="{% url 'listadoEstudiantesDos' %}">Inicio</a>]</li>
            <li>[<a href="{% url 'crearEstudiante' %}">+ Estudiante</a>]</li>
            <li>[<a href="{% url 'listadoEstudiantes' %}">Listado 2</a>]</li>
            <li>[<a href="#">Contacto</a>]</li>
          </ul>
        </nav>
      </header>
    <hr>
    <section>
      {% block content %}
      {% endblock %}
    </section>
    <hr>
    <footer>
      <p>Desarrollo Basado en Plataformas Web</p>
      <p>{% now "jS F Y H:i" %}</p>
      <p>Loja-Ecuador</p>
    </footer>
  </body>
</html>
